ul{
    background: black;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
li{
    float: left;
}
li a, .dropbtn{
    display: inline-block;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}
li a:hover, .dropdonw:hover .dropbtn{
    background: red;
}
li.dropdonw{
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background: white;
    width: 150px;
}
.dropdown-content a{
    color: black;
    display: block;
    border: 1px solid rgb(187, 185, 185);
}
.dropdown-content a:hover{
    color: white;
}
.dropdonw:hover .dropdown-content{
    display: block;
}
